$card-size: 50vh;
$card-width: $card-size * 0.6;

.project-card {
  width: $card-size;
  height: $card-width;
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 12px rgba(180, 209, 222, 0.1);

  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }

  &__cover-image {
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-weight: bold;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}
