.experience {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  position: relative;
  width: 40rem;
  box-shadow: 0 0 25px rgba(103, 119, 144, 0.1);
  display: flex;
  flex-direction: column;

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    &__more-btn {
      background-color: transparent;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      height: 1.5rem;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

    &__logo {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      margin-right: 1rem;
    }

    &__location {
      color: var(--gray-color);
    }

    &__time {
      color: var(--gray-color);
      margin-left: auto;
      cursor: default;
    }
  }

  &__tech-stack {
    display: flex;
    gap: 0.5rem;
  }

  &__tech-stack-logo {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem;
  }

  &__position {
    padding: 0.3rem 0.8rem;
    background-color: var(--light-blue-tone-1);
    border-radius: 2rem;
    color: var(--blue-tone-1);
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
    cursor: default;
  }

  &__more-container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue-tone-1);
    border-radius: 5px;
    padding: 0.4rem 0.6rem;

    h4 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--blue-tone-2);
      margin: 0.3rem 0;
      font-size: 0.9rem;
    }
    p {
      color: var(--blue-tone-1);
    }
  }
}
